
<p id="notice"><%= notice %></p>
<%= link_to 'Add New City', new_city_path, class: 'btn btn-info' %>

<center><h1 class="fav-city">Favorite Cities</h1></center>
<body class="profile-img">

  <div class="col-xs-12">

    <% @cities.each do |city| %>

    <div class="col-md-6 col-lg-4" style="margin-bottom: 25px;">
      <div class="card city-card-top">

        <h4 class="card-title"><center><%= city.name %></h4></center>
        <br>
      </div>
      <div class="card city-card-bottom">
        <div class="card-block">

        <% weather = WeatherService.get_city_weather(city.name)%>
          <p class="card-text"><span class="sub"><%= image_tag ("http://openweathermap.org/img/w/#{weather['weather'][0]['icon']}.png") %></p>
          <p class="card-text"><span class="sub"><%= weather['main']['temp']%>&deg;F</strong></p>
          <p class="card-text"><span class="sub"><%= weather['weather'][0]['description']%></strong></p>
          <p class="card-text"><span class="sub">Pressure: <%= weather['main']['pressure']%> hPa</strong></p>
          <p class="card-text"><span class="sub">Humidity: <%= weather['main']['humidity']%>%</strong></p>
          <p class="card-text"><span class="sub">Min Temperature: <%= weather['main']['temp_min']%>&deg;F</strong></p>
          <p class="card-text"><span class="sub">Max Temperature: <%= weather['main']['temp_max']%>&deg;F</strong></p>
          <%= link_to 'Show', city, class: 'btn btn-info' %>
            <%= link_to 'Edit', edit_city_path(city), class: 'btn btn-info' %>
            <%= link_to 'Destroy', city, class: 'btn btn-info', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>

    <% end %>

  
</div>





</body>
