<body class="blue-sky">

<p id="notice"><%= notice %></p>

<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <h1 class="city-header"><strong><%= @city.name %></strong></h1>

  <% weather = WeatherService.get_city_weather(@city.name)%>

  <p class="temp"><%= weather['main']['temp']%>&deg;F</p>
  <p class="icon"><%= image_tag ("http://openweathermap.org/img/w/#{weather['weather'][0]['icon']}.png") %></p>
  <p class="temp"><%= weather['weather'][0]['description']%></p>
  <p class="info">Sunrise:<%= Time.at(weather['sys']['sunrise']).strftime("%I:%M%p")%></p>
  <p class="info">Sunset:<%= Time.at(weather['sys']['sunset']).strftime("%I:%M%p")%></p>
  <p class="info">Pressure:<%= weather['main']['pressure']%>hPa</p>
  <p class="info">Humidity:<%= weather['main']['humidity']%>%</p>
  <p class="info">Wind:<%= weather['wind']['speed']%>mph</p>
  <p class="info">Min Temperture:<%= weather['main']['temp_min']%>&deg;F</p>
  <p class="info">Max Temperture:<%= weather['main']['temp_max']%>&deg;F</p>

</p>
<button type="button" onclick="$('body').toggleClass('blue-sky night-sky');" name="button">Click me!</button>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', dashboard_index_path %>
</body>
